<div class="row">
    <div class= "col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form>
            <div class="form group">
                <label for="loginUsername">Username</label>
                <input type="text"
                       name="userName"
                       required
                       class="form-control"
                       id="loginUsername"
                       placeholder="Enter username"
                       formController="userName"
                       [(ngModel)]="userName">
                
            </div>
            <div class="form group">
                <label for="loginPassword">Password</label>
                <input type="text"
                       name="password"
                       required
                       class="form-control"
                       id="loginPassword"
                       placeholder="password"
                       formController="password"
                       [(ngModel)]="password">
                
            </div>
            <button (click)=onSubmit() type="submit"
                    class="btn btn-primary">Login<i class="fas fa-sign-in-alt"></i></button>
            <small class="text-danger">{{msgError}}</small>
            <br>
            <br>

            
        </form>
    </div>

</div>
