<h1>Add Games</h1>
<form #recievedUser="ngForm">

  <label for="name">Product</label>
  <input type="text" class="form-control" id="product" placeholder="game" [(ngModel)]="game.product" name="firstName">
  
  <label for="name">Game Name</label>
  <input type="text" class="form-control" id="gNmae" placeholder="Game Name" [(ngModel)]="game.gName" name="lastName">
  

  <label for="type">Description</label>
  <input type="text" class="form-control" id="type" placeholder="type name" [(ngModel)]="game.Description" name="name">

  <label for="password">Price</label>
  <input type="text" class="form-control" id="price" placeholder="password" [(ngModel)]="game.price" name="password">

  
   <br>
  <button type="button" class="btn btn-success" (click)="addGame()">Save</button>

</form>

<!--<h1>Games Admin</h1>
<a class="btn btn-primary mb-3" (click)="addGame()">Add New Game</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Game Name</th>
          <th>Description</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{game.id}}</td>
          <td>{{game.product}}</td>
          <td>{{game.gName}}</td>
          <td>{{game.Description}}</td>
          <td>{{game.price}}</td>
          <td>
            <button type="button" class="btn btn-primary">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-games *ngIf="action === 'add'" [game]="selectedGame" (bookAddedEvent)="loadData()"></app-games>
  </div>
</div>-->
