
 <div class="header">
  <div class="container">
      <div class="navbar">
          <div class="logo">
              <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\Free_Sample_By_Wix-removebg-preview.png" width="125px">
          </div>
          <nav>
              <ul id="MenuItems">
                  <li><a href="">Home</a></li>
                  <li><a href="">Products</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><a href="">Account</a></li>
              </ul>
          </nav>
          <span class="material-symbols-outlined" onclick="menutoggle()">menu</span>
          <span class="material-symbols-outlined">shopping_cart</span>
      </div>
  <div class="row">
      <div class="col-2">
          <h1>Give Your Royal Pleasure With Royal Quality</h1>
          <p>If you've always wanted to play all your favorite games... <br>everything from Pac-Man to Galaga to Donkey Kong to Mortal Kombat in one powerful console this will be the most exciting thing you check out...</p>
          <a href="" class="btn">Explore Now &#9755;</a>
      </div>
      <div class="col-2">
          <img src="Saved Pictures/61aIDUP4ZuL._AC_SL1500_-removebg.png">

      </div>
      </div>
  </div>
  </div>
<router-outlet></router-outlet>
