<header>Login</header>
<body>
    <label for="Login" class="form-label">Please Login</label>
    <div class ="input-group mb-3">
        <span class="input-group-text">Username</span> 
        <input type="text" class="form-control" id="username" placeholder="Enter a username" >
        <span class="input-group-text">Password</span> 
        <input type="text" class="form-control" id="password" placeholder="Enter a password" >
    </div>
    <button id="loginButton" class="btn btn-primary col-sm-4">Login</button>
    <button id="RegisterButton" class="btn btn-primary col-sm-4">Register</button>
</body>