<div class="main_footer">
    <div class="footer_container">
        <div class = 'left'>
            <img src="assets/GameGoLogo-removebg-preview.png" width="150px" height="150px">
        </div>
        
        <div class = 'center'>
            <h3>Our Team</h3>
            <hr/>
            <p>Job Openings</p>
            <p>Office Locations</p>
            <p>Social Responsibility</p>
            <p>Diversity & Inclusion</p>
        </div>
    
        <div class='right'>
            <h4>Contact Us</h4>
            <hr/>
            <p>info@revature.com</p>
            <p>Phone: 703 507 8181</p>
        </div>
    </div>
    
    <hr/>
    @2022 All rights reserved.
    </div>