<!---------- feature products ------------>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\619rIWST-cL._AC_SL1500_.jpg">
            <h4>GameGo Wireless Controller</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                <span class="material-symbols-outlined">grade</span>
                </div>
            <p>$40.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\71otxJSdfyL._AC_SL1500_.jpg">
            <h4>GameGo Gaming Case</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                </div>
            <p>$70.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\5196ba4af6eda6f04cb89a52ec8cb62919511004_original.jpeg">
            <h4>PS3 Retro Gaming Wireless Controller</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                </div>
            <p>$35.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\09d38bc4-2ebd-490e-91c6-fe71cd759b07.86ff6f5795384d95c63ab5ec282cae66.jpeg">
            <h4>GameGo Gaming Retro Arcade Pad</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                </div>
            <p>$65.00</p>
        </div>
    </div>
    <h2 class="title">Lastest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\maxresdefault-removebg-preview.png">
            <h4>GameGo 5000 PRO GameBoy</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                </div>
            <p>$75.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\4903351b6ffe731fccc39642eceb0a3b.jpg">
            <h4>GameGo Rocker Joystick</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">grade</span>
                <span class="material-symbols-outlined">grade</span>
                </div>
            <p>$25.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\DGUN-2558-high-res.jpg">
            <h4>GameStation Pro</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">grade</span>
                <span class="material-symbols-outlined">grade</span>
                </div>
            <p>$45.00</p>
        </div>
        <div class="col-4">
            <img src="C:\Users\rgwan\OneDrive\Desktop\Project 2 Synergy\Saved Pictures\71-im-JvCiL._AC_US1200_.jpg">
            <h4>GameGo Neo Light Arcade Pad</h4>
            <div class="rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star_half</span>
                </div>
            <p>$65.00</p>
        </div>
</div>
